<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coupangeats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoupangEats"
        tools:ignore="ExtraText">
        <activity android:name=".src.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".src.main.storeInfo.StoreInfoActivity"
            android:theme="@style/NoStatusBar">

        </activity>
        <activity android:name=".src.main.address.map.MapActivity">

        </activity>

        <activity android:name=".src.main.address.mapSearch.MapSearchActivity">

        </activity>
        <activity android:name=".src.main.myPage.SettingActivity">

        </activity>
        <activity android:name=".src.main.menuInfo.MenuInfoActivity">

        </activity>
        <activity android:name=".DetailActivity">

        </activity>

        <activity android:name=".src.main.address.mapDetail.MapDetailActivity">


        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f74621f00e7904ddecabf2154f136096" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaof74621f00e7904ddecabf2154f136096" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="h3b5sixohz" />

    </application>

</manifest>